* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  background-color: #464646;
}

.App {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding-top: 15px;
  font-family: Lato, sans-serif;
}

.Rp-logo-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: -80px;
}

.Rp-logo {
  height: 500px;
 
}